body{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: aqua;
}
.row{
    position: relative;
    margin-top: 10%;
}
p{
    position: relative;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    width: 32%;
    padding: 1%;
    padding-top: 38px;
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: azure;
}
span{
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    box-sizing: border-box;
    border-width: 1px;
    background-color:aquamarine;
    padding: 5px;
    font-size: 1.25em;
    font-weight: bold;
}
span:hover{
    background-color:cadetblue;
    color: whitesmoke;
}
@media (min-width:768px) and (max-width:991px) {
    p{
        width: 48%;       
    }
    p.col2{
        margin-right:0;
    }
    p.col3{
        width: 97.5%;
        margin-left:1.1%;
    }
}
@media (max-width:767px) {
    p{
        width: 100%;
        margin-right: 2%;
    }
}
